<div class="offers-modal">
    <h2 class="offers-title">Offers</h2>
  
    <div class="offer-category">
      <h3>CASHBACKS (4)</h3>
      <p>20% Cashback for every PhonePe transaction <a href="#">T&C apply</a></p>
      <p>Valid from: 23rd March 23 &nbsp;&nbsp; Valid to: 28th March 23</p>
      <button mat-button color="accent">View</button>
    </div>
  
    <div class="offer-category">
      <h3>BANK OFFERS (4)</h3>
      <p>20% OFF for every ICICI Credit Card transaction <a href="#">T&C apply</a></p>
      <p>Valid from: 23rd March 23 &nbsp;&nbsp; Valid to: 28th March 23</p>
      <button mat-button color="accent">View</button>
    </div>
  
    <div class="offer-category">
      <h3>SPECIAL OFFERS (2)</h3>
      <p>45% OFF for every ICICI Credit Card transaction <a href="#">T&C apply</a></p>
      <p>Valid from: 23rd March 23 &nbsp;&nbsp; Valid to: 28th March 23</p>
      <button mat-button color="accent">View</button>
    </div>
  
    <button mat-stroked-button color="warn"  class="close-button buy-now" (click)="closeBottomSheet()">
      Close
    </button>
  </div>
  